{% extends "_layouts/default.njk" %}


 {% block body %}
  <div class="content">
    <strong>Olá, {{ user.name}}</strong>
    {% if user.provider === false %}
        {% include "_partials/client.njk" %}
    {% else %}
        {% include "_partials/provider.njk" %}
    {% endif %}

    <a href="/app/logout" class="logout">Sair</a>
  </div>
 {% endblock %}
